{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block head_title %}Интернет магазин{% endblock %}</title>

    <script src="{% static "bootstrap\js\jquery.js" %}"></script>
    <script src="{% static "bootstrap\js\bootstrap.min.js" %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static "bootstrap\css\bootstrap.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css\main.css" %}" />

    {% block extra_head %}
    {% endblock %}
</head>
<body>
    <div class="container-fluid">
        <div class="page-header">
            <h1 class="pull-left"><a href="/">Интернет магазин</a></h1>
            <div class="header-buttons pull-right">
                {% if user.is_authenticated %}
                    <h4 class="pull-left welcome-msg">Привет, {{ user.last_name }} {{ user.first_name }}!</h4>
                    <a class="btn btn-primary" href="/accounts/logout/">Выйти</a>
                {% else %}
                    <a class="btn btn-primary" href="/accounts/login/">Войти</a>
                    <a class="btn" href="/accounts/register/">Регистрация</a>
                {% endif %}
                <a class="btn btn-success" href="/cart/">Корзина</a>
                <br>
                <div id="cart-info" class="pull-right">
                    <h7>В корзине: </h7><h7 id="cart-count">{{ cart.count }}</h7>
                    <br>
                    <h7>На сумму: </h7><h7 id="cart-summary">{{ cart.summary }}</h7>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div id="content-wrapper" class="row-fluid">
            {% block content %}{% endblock %}
        </div>
    </div>

</body>
</html>