{% if cart.count > 0 %}
<h2>Корзина</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Продукт</th>
            <th>Количество</th>
            <th>Цена</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for item in cart %}
        <tr>
            <td>{{ item.product.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.total_price }}</td>
            <td>
                <a id="{{ item.product.id }}" class="btn btn-danger btn-cart-remove-item">Удалить</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<h4 class="pull-right">Всего: {{ cart.summary }}</h4>
<a class="btn btn-primary pull-left" href="/make_order/"><h5>Сделать заказ</h5></a>
{% else %}
<h2>Корзина пока пуста :(</h2>
{% endif %}