{% if current_category %}
    <h3>{{ current_category.name }}</h3>
{% else %}
    <h3>Каталог</h3>
{% endif %}
<div class="row">
    {% for product in products %}
        <div class="product-item">
            <h4>{{ product.name }}</h4>
            <hr>
            <h2 class="pull-right">{{ product.price }}</h2>
            <a id="{{ product.id }}" class="btn btn-primary btn-cart pull-right">В корзину</a>
        </div>
    {% endfor %}
</div>
<div class="pagination pull-right">
    <span class="step-links">
        {% if products.has_previous %}
            <button id="{{ products.previous_page_number }}" class="btn btn-primary btn-catalog-prev">Назад</button>
        {% endif %}

        <span class="current">
            Страница {{ products.number }} из {{ products.paginator.num_pages }}
        </span>

        {% if products.has_next %}
            <button id="{{ products.next_page_number }}" class="btn btn-primary btn-catalog-next">Дальше</button>
        {% endif %}
    </span>
</div>