{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div id="sidebar" class="col-md-3">
    {% load mptt_tags %}
    <h3>Категории</h3>
    {% load mptt_tags %}
    <ul class="root">
    {% recursetree nodes %}
        <li>
            <a id="{{ node.id }}" href="" class="catalog-item"><h4>{{ node.name }}</h4></a>
            {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
    </ul>
    <hr>
    <h3>Теги</h3>
    <div id="tags">
    </div>
</div>

<div id="catalog" class="content">
</div>

<script src="{% static "js\catalog.js" %}"></script>

{% endblock %}