#sidebar {
    position: relative;
    width: 300px;
    float: left;
}

.header-buttons {
    position: relative;
    top: 15px;
    bottom: 15px;
}

a {
   text-decoration: none;
}

.product-item {
  float: left;
  width: 200px;
  padding: 20px;
}

#cart-info {
    padding: 10px;
}

.welcome-msg {
    padding-right: 20px;
}

.btn-tag-filter {
    margin: 2px;
}